265065041 me
842550052 you
http://www.renren.com/469316286#//status/status?id=265065041
http://status.renren.com/GetSomeomeDoingList.do?userId=842550052&curpage=0
http://photo.renren.com/getalbumprofile.do?owner=265065041
http://share.renren.com/share/842550052

http://photo.renren.com/photo/239635963/album/relatives